
  <nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light" style="">
  <div class="container" wfd-id="122">
  <a class="navbar-brand py-0" href="/html/index.html" target="_blank"><span wfd-id="137">
  </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation" wfd-id="157">
  <span class="navbar-toggler-icon" wfd-id="136">
  </span></button><div class="collapse navbar-collapse" id="navbar-content" wfd-id="123">
 
 <ul class="navbar-nav mr-auto" wfd-id="124">
  <li class="nav-item mx-1" wfd-id="135">
  <a class="nav-link" href="/Anasayfa">Anasayfa</a>
  </li>
  </ul>
 
 
  <ul class="navbar-nav ml-auto" wfd-id="124">
 
 <li class="nav-item ml-1 mr-3 dropdown" wfd-id="127">
  <a class="nav-link dropdown-toggle" id="docs-dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Kullanıcı adı
  </a>
  <div class="dropdown-menu animated_dropdown shadow-lg" aria-labelledby="docs-dropdown" wfd-id="128">
  <a class="dropdown-item" href="/">
  Çıkış Yap
  </a>
  
  
  </div>
  </li>
  </li>

  </ul>
  </div>
  </div>
  </nav> 
 
 
 
 
 
 
 