{% extends "layout.html" %}


{% block body %}

<h2>ANA SAYFA</h2>
<hr><br>
<div class="text-nowrap bd-highlight" class="font-weight-normal" class="text-justify" style="width: 8rem;">
  Bu web sitesi staj projesi amacı ile tasarlanmıştır. 
  
</div>
<div class="text-nowrap bd-highlight" class="font-weight-normal" style="width: 8rem;">
  Web sitesinin amacı siteye kayıt olunduktan sonra sitede resim araması yapılarak 
  
</div>

<div class="text-nowrap bd-highlight" class="font-weight-normal" style="width: 8rem;">
  eğer kişi siteye üye ise onu onun bilgilerini karşınıza getirir.
  
</div>




{% endblock body %}